body {
    background-color: antiquewhite;
}
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0.8)),  url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 125%;
    background-position: 40% 0;
    font-size: 16px;
    font-family: 'Cookie', cursive, serif;
    padding-bottom: 1em;
}
.hero__title {
    color: #fff9ee;
    text-align: center;
    font-size: 5em;
    line-height: 0.8em;
    font-weight: 400;
    padding-top: 20%;
}
.hero__subtitle {
    color: antiquewhite;
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
    margin: auto;
}
.buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 15px 0;
}

.hero__button {
    border: none;
    text-decoration: none;
    padding: 15px 32px;

    border-radius: 0.25em;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    margin: auto;
    margin-top: 10px;
    width: 30%;
    height: 3.5em;
    max-width: 400px;
    min-width: 200px;
}
.hero__button--facebook {
    background-color: #3B5998;
}
.hero__button--instagram {
    background: linear-gradient(90deg, rgba(255,214,0,1) 0%, rgba(255,122,0,1) 50%, rgba(255,0,105,1) 100%);
}
@media (min-width: 600px) {
    .buttons {
        flex-direction: row;
    }
    .hero__title {font-size: 25vw}
    .hero__subtitle {font-size: 10vw}
    .hero__button {font-size: 4vw}
}