.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0.8)),  url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 16px;
    font-family: 'Cookie', cursive, serif;
}
.hero__title {
    color: white;
    text-align: center;
    font-size: 4em;
    font-weight: 400;
    padding-top: 25%;
}
.hero__subtitle {
    color: antiquewhite;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    margin: 0.5em 0;
}
.buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
@media (min-width: 800px) {
    .buttons {
        flex-direction: row;
    }
    .hero__title {font-size: 10em}
    .hero__subtitle {font-size: 5em}
}
.hero__button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 0.25em;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}